<?php

return [
    'solcre_email_schedule' => [
        'DEFAULT_FROM_EMAIL' => '',
        'TEMPLATES_PATH'        => '',
        'SMTP_CREDENTIALS'   => [
            'ACTIVE'     => 1,
            'HOST'     => '',
            'USERNAME' => '',
            'PASSWORD' => '',
            'PORT'     => 999,
        ],
        'DEFAULT_VARIABLES' => [
            'ASSETS_PATH'        => '',
        ]
    ]
];
