<?php

return [
    'solcre_email_schedule' => [
        'transport'=> [
                'driver' => 'smtp'
                'smtp' => [
                                      'ACTIVE'   => 1,
                                      'HOST'     => '',
                                      'USERNAME' => '',
                                      'PASSWORD' => '',
                                      'PORT'     => '',
                                      'DEBUG'    => '',
                                  ],
                'aws-sqs' => [
                    'key' => 'your-aws-access-key',
                    'secret' => 'your-aws-secret-key',
                    'region' => 'your-aws-region',
                    'url' => 'your-aws-sqs-url',
                ],
        ],
        'DEFAULT_FROM_EMAIL' => '',
        'DEFAULT_FROM_NAME_EMAIL' => '',
        'TEMPLATES_PATH'          => [
                   'EMAILS' => []
               ],
        'TEMPLATE_ENGINE'         => null,
        'DEFAULT_VARIABLES' => [
            'ASSETS_PATH'        => '',
        ]
    ]
];
